<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>Label</key>
	<string>com.foursquare.octory_mid</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/Application Support/Octory/Octory.app/Contents/MacOS/Octory</string>
		<string>--config</string>
		<string>fsq_mid.plist</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
</dict>
</plist>
