<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>General</key>
	<dict>
		<key>Variables</key>
		<dict>
			<key>Root</key>
			<string>/Library/Application Support/Octory</string>
			<key>Resources</key>
			<string>${Root}/Resources</string>
			<key>AppIcons</key>
			<string>${Resources}/AppIcons</string>
			<key>Images</key>
			<string>${Resources}/Images</string>
			<key>Video</key>
			<string>${Resources}/Video</string>
			<key>Scripts</key>
			<string>${Resources}/Scripts</string>
			<key>Company</key>
			<string>Foursquare</string>
		</dict>
	</dict>
	<key>AppTermination</key>
	<dict>
		<key>ForceQuitShortcutIsEnabled</key>
		<true/>
		<key>RelaunchAtLogin</key>
		<false/>
	</dict>
	<key>Input</key>
	<dict>
		<key>FileFormat</key>
		<string>PLIST</string>
		<key>FilePath</key>
		<string>/Library/Application Support/Octory/Resources/Inputs/inputs.plist</string>
	</dict>
	<key>FontStyles</key>
	<dict>
		<key>DefaultPrimary</key>
		<dict>
			<key>Font</key>
			<dict>
				<key>Name</key>
				<string>AUTHENTICSans-130</string>
				<key>Size</key>
				<string>16</string>
			</dict>
		</dict>
		<key>DefaultSecondary</key>
		<dict>
			<key>Font</key>
			<dict>
				<key>Name</key>
				<string>SometypeMono-Regular</string>
				<key>Size</key>
				<string>9</string>
			</dict>
		</dict>
		<key>Title</key>
		<dict>
			<key>Font</key>
			<dict>
				<key>Name</key>
				<string>AUTHENTICSans-150</string>
				<key>Size</key>
				<string>16</string>
			</dict>
		</dict>
		<key>Subtitle</key>
		<dict>
			<key>Font</key>
			<dict>
				<key>Name</key>
				<string>SometypeMono-Regular</string>
				<key>Size</key>
				<string>9</string>
			</dict>
		</dict>
	</dict>
	<key>Admin</key>
	<dict>
		<key>IsAdminModeEnabled</key>
		<false/>
	</dict>
	<key>ActionSets</key>
	<array>
		<dict>
			<key>Type</key>
			<string>Chained</string>
			<key>Triggers</key>
			<array>
				<string>Custom(jumpTo)</string>
			</array>
			<key>Actions</key>
			<array>
				<dict>
					<key>Type</key>
					<string>NavigateToSlide</string>
					<key>Index</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>Chained</string>
			<key>Triggers</key>
			<array>
				<string>Custom(jumpAgain)</string>
			</array>
			<key>Actions</key>
			<array>
				<dict>
					<key>Type</key>
					<string>NavigateToSlide</string>
					<key>Index</key>
					<integer>2</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>Chained</string>
			<key>Triggers</key>
			<array>
				<string>Custom(jumpLast)</string>
			</array>
			<key>Actions</key>
			<array>
				<dict>
					<key>Type</key>
					<string>NavigateToSlide</string>
					<key>Index</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>Chained</string>
			<key>Triggers</key>
			<array>
				<string>Custom(jumpError)</string>
			</array>
			<key>Actions</key>
			<array>
				<dict>
					<key>Type</key>
					<string>NavigateToSlide</string>
					<key>Index</key>
					<integer>4</integer>
				</dict>
			</array>
		</dict>
	</array>
	<key>Slides</key>
	<array>
		<dict>
			<key>Containers</key>
			<array>
				<dict>
					<key>Components</key>
					<array>
						<dict>
							<key>Type</key>
							<string>Image</string>
							<key>URL</key>
							<string>${Images}/fsq_1024.png</string>
						</dict>
						<dict>
							<key>Type</key>
							<string>Text</string>
							<key>Text</key>
							<string>Hello there 👋🏼 Welcome to Foursquare!
We can&apos;t wait for you to get started with your new ${DEVICE_MODEL_NAME}!</string>
							<key>Style</key>
							<string>Title</string>
							<key>TextFontConfiguration</key>
							<dict>
								<key>TextAlignment</key>
								<string>Center</string>
								<key>Size</key>
								<integer>24</integer>
							</dict>
							<key>Margins</key>
							<dict>
								<key>Left</key>
								<integer>50</integer>
								<key>Right</key>
								<integer>50</integer>
								<key>Bottom</key>
								<integer>5</integer>
							</dict>
						</dict>
						<dict>
							<key>Type</key>
							<string>Text</string>
							<key>Text</key>
							<string>Every macOS device at Foursquare is equipped with JumpCloud system agent. This agent allows IT to bind your JumpCloud identity to your mac. At the end of this workflow you will use your JumpCloud user &quot;shortname&quot; and JumpCloud password to log into this Mac.</string>
							<key>Style</key>
							<string>Title</string>
							<key>TextFontConfiguration</key>
							<dict>
								<key>TextAlignment</key>
								<string>Center</string>
								<key>Size</key>
								<integer>14</integer>
							</dict>
							<key>Border</key>
							<dict>
								<key>Edge</key>
								<string>Bottom</string>
							</dict>
							<key>Margins</key>
							<dict>
								<key>Left</key>
								<integer>50</integer>
								<key>Right</key>
								<integer>50</integer>
								<key>Top</key>
								<integer>1</integer>
								<key>Bottom</key>
								<integer>10</integer>
							</dict>
						</dict>
						<dict>
							<key>Type</key>
							<string>AppMonitor</string>
							<key>Margins</key>
							<dict>
								<key>Left</key>
								<integer>210</integer>
							</dict>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Containers</key>
			<array>
				<dict>
					<key>Components</key>
					<array>
						<dict>
							<key>Type</key>
							<string>Image</string>
							<key>URL</key>
							<string>${Images}/fsq_1024.png</string>
						</dict>
						<dict>
							<key>Type</key>
							<string>Text</string>
							<key>Text</key>
							<string>Activate your macOS account with JumpCloud!</string>
							<key>TextFontConfiguration</key>
							<dict>
								<key>TextAlignment</key>
								<string>Center</string>
								<key>Size</key>
								<integer>24</integer>
							</dict>
							<key>Margins</key>
							<dict>
								<key>Left</key>
								<integer>50</integer>
								<key>Right</key>
								<integer>50</integer>
								<key>Bottom</key>
								<integer>5</integer>
							</dict>
						</dict>
						<dict>
							<key>Type</key>
							<string>Text</string>
							<key>Text</key>
							<string>In order to set your mac with your JumpCloud user shortname and JumpCloud password, simply enter your full &quot;@foursquare.com&quot; email address in the text field below.</string>
							<key>Style</key>
							<string>Title</string>
							<key>TextFontConfiguration</key>
							<dict>
								<key>TextAlignment</key>
								<string>Center</string>
								<key>Size</key>
								<integer>14</integer>
							</dict>
							<key>Border</key>
							<dict>
								<key>Edge</key>
								<string>Bottom</string>
							</dict>
							<key>Margins</key>
							<dict>
								<key>Left</key>
								<integer>50</integer>
								<key>Right</key>
								<integer>50</integer>
								<key>Top</key>
								<integer>1</integer>
								<key>Bottom</key>
								<integer>10</integer>
							</dict>
						</dict>
						<dict>
							<key>Type</key>
							<string>Input</string>
							<key>InputType</key>
							<string>Text</string>
							<key>LabelFontConfiguration</key>
							<dict>
								<key>Size</key>
								<integer>14</integer>
							</dict>
							<key>Variable</key>
							<string>ceMail</string>
							<key>Label</key>
							<string>Enter your @foursquare.com email address:</string>
							<key>PercentWidth</key>
							<real>0.4</real>
							<key>Placeholder</key>
							<string>username@foursquare.com</string>
							<key>Margins</key>
							<dict>
								<key>Top</key>
								<integer>25</integer>
								<key>Bottom</key>
								<integer>25</integer>
							</dict>
							<key>Validation</key>
							<dict>
								<key>Regex</key>
								<string>^[A-Za-z0-9._%+-]+@foursquare.com$</string>
								<key>WarningText</key>
								<string>Incorrect or empty value - please re-enter your &quot;@foursquare.com&quot; email address</string>
								<key>FontConfiguration</key>
								<dict>
									<key>Size</key>
									<integer>14</integer>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Type</key>
							<string>Text</string>
							<key>Text</key>
							<string>After you&apos;ve entered your full &quot;@foursquare.com&quot; email address, click the &quot;ACTIVATE&quot; button to proceed:</string>
							<key>Style</key>
							<string>Title</string>
							<key>TextFontConfiguration</key>
							<dict>
								<key>TextAlignment</key>
								<string>Center</string>
								<key>Size</key>
								<integer>14</integer>
							</dict>
							<key>Margins</key>
							<dict>
								<key>Left</key>
								<integer>25</integer>
								<key>Right</key>
								<integer>25</integer>
								<key>Top</key>
								<integer>1</integer>
								<key>Bottom</key>
								<integer>10</integer>
							</dict>
						</dict>
						<dict>
							<key>Type</key>
							<string>Button</string>
							<key>Style</key>
							<string>Simple</string>
							<key>Alignment</key>
							<string>Center</string>
							<key>Text</key>
							<string>ACTIVATE</string>
							<key>Color</key>
							<dict>
								<key>DarkMode</key>
								<string>#007AFF</string>
								<key>LightMode</key>
								<string>#212F3D</string>
							</dict>
							<key>Margins</key>
							<dict>
								<key>Top</key>
								<integer>25</integer>
							</dict>
							<key>OnClick</key>
							<dict>
								<key>Type</key>
								<string>Chained</string>
								<key>Actions</key>
								<array>
									<dict>
										<key>Type</key>
										<string>SaveInputs</string>
									</dict>
									<dict>
										<key>Type</key>
										<string>ExecuteCommand</string>
										<key>Command</key>
										<string>plutil -replace RunAtLoad -bool true /Library/LaunchDaemons/com.foursquare.octory_start.plist</string>
									</dict>
									<dict>
										<key>Type</key>
										<string>ExecuteCommand</string>
										<key>Command</key>
										<string>touch /var/tmp/com.depnotify.registration.done</string>
									</dict>
								</array>
							</dict>
							<key>Trigger</key>
							<string>jumpAgain</string>
						</dict>
						<dict>
							<key>Type</key>
							<string>Spacer</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Containers</key>
			<array>
				<dict>
					<key>Components</key>
					<array>
						<dict>
							<key>Type</key>
							<string>Image</string>
							<key>URL</key>
							<string>${Images}/fsq_1024.png</string>
						</dict>
						<dict>
							<key>Type</key>
							<string>Text</string>
							<key>Text</key>
							<string>JumpCloud is now setting up your macOS account...</string>
							<key>Style</key>
							<string>Title</string>
							<key>TextFontConfiguration</key>
							<dict>
								<key>TextAlignment</key>
								<string>Center</string>
								<key>Size</key>
								<integer>24</integer>
							</dict>
							<key>Margins</key>
							<dict>
								<key>Left</key>
								<integer>50</integer>
								<key>Right</key>
								<integer>50</integer>
								<key>Bottom</key>
								<integer>5</integer>
							</dict>
						</dict>
						<dict>
							<key>Type</key>
							<string>Text</string>
							<key>Text</key>
							<string>You entered: ${ceMail}</string>
							<key>Style</key>
							<string>Title</string>
							<key>TextFontConfiguration</key>
							<dict>
								<key>TextAlignment</key>
								<string>Center</string>
								<key>Size</key>
								<integer>18</integer>
							</dict>
							<key>Margins</key>
							<dict>
								<key>Left</key>
								<integer>50</integer>
								<key>Right</key>
								<integer>50</integer>
								<key>Top</key>
								<integer>1</integer>
								<key>Bottom</key>
								<integer>5</integer>
							</dict>
						</dict>
						<dict>
							<key>Type</key>
							<string>Text</string>
							<key>Text</key>
							<string>Your user shortname for this mac is all the text before the &quot;@foursquare.com&quot; portion of your full email address. For example, bsmith@foursquare.com&apos;s user shortname for their mac would be &quot;bsmith&quot;. Keep this in mind when logging into your Mac.</string>
							<key>Style</key>
							<string>Title</string>
							<key>TextFontConfiguration</key>
							<dict>
								<key>TextAlignment</key>
								<string>Center</string>
								<key>Size</key>
								<integer>14</integer>
							</dict>
							<key>Border</key>
							<dict>
								<key>Edge</key>
								<string>Bottom</string>
							</dict>
							<key>Margins</key>
							<dict>
								<key>Left</key>
								<integer>50</integer>
								<key>Right</key>
								<integer>50</integer>
								<key>Top</key>
								<integer>1</integer>
								<key>Bottom</key>
								<integer>10</integer>
							</dict>
						</dict>
						<dict>
							<key>Type</key>
							<string>AppMonitor</string>
							<key>Margins</key>
							<dict>
								<key>Left</key>
								<integer>210</integer>
							</dict>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Containers</key>
			<array>
				<dict>
					<key>Components</key>
					<array>
						<dict>
							<key>Type</key>
							<string>Image</string>
							<key>URL</key>
							<string>${Images}/fsq_1024.png</string>
						</dict>
						<dict>
							<key>Type</key>
							<string>Text</string>
							<key>Text</key>
							<string>Everything appears to be in order! 🎉🥳🎊</string>
							<key>Style</key>
							<string>Title</string>
							<key>TextFontConfiguration</key>
							<dict>
								<key>TextAlignment</key>
								<string>Center</string>
								<key>Size</key>
								<integer>24</integer>
							</dict>
							<key>Margins</key>
							<dict>
								<key>Left</key>
								<integer>50</integer>
								<key>Right</key>
								<integer>50</integer>
								<key>Bottom</key>
								<integer>5</integer>
							</dict>
						</dict>
						<dict>
							<key>Type</key>
							<string>Text</string>
							<key>Text</key>
							<string>The system needs to take a moment to make a few &quot;finishing touches&quot;.</string>
							<key>Style</key>
							<string>Title</string>
							<key>TextFontConfiguration</key>
							<dict>
								<key>TextAlignment</key>
								<string>Center</string>
								<key>Size</key>
								<integer>18</integer>
							</dict>
							<key>Margins</key>
							<dict>
								<key>Left</key>
								<integer>50</integer>
								<key>Right</key>
								<integer>50</integer>
								<key>Top</key>
								<integer>1</integer>
								<key>Bottom</key>
								<integer>5</integer>
							</dict>
						</dict>
						<dict>
							<key>Type</key>
							<string>Text</string>
							<key>Text</key>
							<string>When your Mac is ready to go, you will taken to the login window. At this next login window, use your JumpCloud user shortname, and JumpCloud password to log into your macOS account, and proceed with additional automated setup!</string>
							<key>Style</key>
							<string>Title</string>
							<key>TextFontConfiguration</key>
							<dict>
								<key>TextAlignment</key>
								<string>Center</string>
								<key>Size</key>
								<integer>14</integer>
							</dict>
							<key>Border</key>
							<dict>
								<key>Edge</key>
								<string>Bottom</string>
							</dict>
							<key>Margins</key>
							<dict>
								<key>Left</key>
								<integer>50</integer>
								<key>Right</key>
								<integer>50</integer>
								<key>Top</key>
								<integer>1</integer>
								<key>Bottom</key>
								<integer>10</integer>
							</dict>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Containers</key>
			<array>
				<dict>
					<key>Components</key>
					<array>
						<dict>
							<key>Type</key>
							<string>Image</string>
							<key>URL</key>
							<string>${Images}/fsq_1024.png</string>
						</dict>
						<dict>
							<key>Type</key>
							<string>Text</string>
							<key>Text</key>
							<string>Oh no! Something is not quite right!</string>
							<key>TextFontConfiguration</key>
							<dict>
								<key>TextAlignment</key>
								<string>Center</string>
								<key>Size</key>
								<integer>24</integer>
							</dict>
							<key>Margins</key>
							<dict>
								<key>Left</key>
								<integer>50</integer>
								<key>Right</key>
								<integer>50</integer>
								<key>Bottom</key>
								<integer>5</integer>
							</dict>
						</dict>
						<dict>
							<key>Type</key>
							<string>Text</string>
							<key>Text</key>
							<string>For some reason, JumpCloud could not locate your account. 

You entered: ${ceMail}

Be sure to check the spelling of your email address and re-enter in the text box below. If&apos;ve reached this page and your email address was entered correctly, please contact helpdesk@foursquare.com.</string>
							<key>Style</key>
							<string>Title</string>
							<key>TextFontConfiguration</key>
							<dict>
								<key>TextAlignment</key>
								<string>Center</string>
								<key>Size</key>
								<integer>14</integer>
							</dict>
							<key>Border</key>
							<dict>
								<key>Edge</key>
								<string>Bottom</string>
							</dict>
							<key>Margins</key>
							<dict>
								<key>Left</key>
								<integer>50</integer>
								<key>Right</key>
								<integer>50</integer>
								<key>Top</key>
								<integer>1</integer>
								<key>Bottom</key>
								<integer>10</integer>
							</dict>
						</dict>
						<dict>
							<key>Type</key>
							<string>Input</string>
							<key>InputType</key>
							<string>Text</string>
							<key>LabelFontConfiguration</key>
							<dict>
								<key>Size</key>
								<integer>14</integer>
							</dict>
							<key>Variable</key>
							<string>ceMail</string>
							<key>Label</key>
							<string>Enter your @foursquare.com email address:</string>
							<key>PercentWidth</key>
							<real>0.4</real>
							<key>Placeholder</key>
							<string>username@foursquare.com</string>
							<key>Margins</key>
							<dict>
								<key>Top</key>
								<integer>25</integer>
								<key>Bottom</key>
								<integer>25</integer>
							</dict>
							<key>Validation</key>
							<dict>
								<key>Regex</key>
								<string>^[A-Za-z0-9._%+-]+@foursquare.com$</string>
								<key>WarningText</key>
								<string>Incorrect or empty value - please re-enter your &quot;@foursquare.com&quot; email address</string>
								<key>FontConfiguration</key>
								<dict>
									<key>Size</key>
									<integer>14</integer>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Type</key>
							<string>Text</string>
							<key>Text</key>
							<string>After you&apos;ve entered your full &quot;@foursquare.com&quot; email address, click the &quot;ACTIVATE&quot; button to proceed:</string>
							<key>Style</key>
							<string>Title</string>
							<key>TextFontConfiguration</key>
							<dict>
								<key>TextAlignment</key>
								<string>Center</string>
								<key>Size</key>
								<integer>14</integer>
							</dict>
							<key>Margins</key>
							<dict>
								<key>Left</key>
								<integer>25</integer>
								<key>Right</key>
								<integer>25</integer>
								<key>Top</key>
								<integer>1</integer>
								<key>Bottom</key>
								<integer>10</integer>
							</dict>
						</dict>
						<dict>
							<key>Type</key>
							<string>Button</string>
							<key>Style</key>
							<string>Simple</string>
							<key>Alignment</key>
							<string>Center</string>
							<key>Text</key>
							<string>ACTIVATE</string>
							<key>Color</key>
							<dict>
								<key>DarkMode</key>
								<string>#007AFF</string>
								<key>LightMode</key>
								<string>#212F3D</string>
							</dict>
							<key>Margins</key>
							<dict>
								<key>Top</key>
								<integer>25</integer>
							</dict>
							<key>OnClick</key>
							<dict>
								<key>Type</key>
								<string>Chained</string>
								<key>Actions</key>
								<array>
									<dict>
										<key>Type</key>
										<string>SaveInputs</string>
									</dict>
									<dict>
										<key>Type</key>
										<string>ExecuteCommand</string>
										<key>Command</key>
										<string>plutil -replace RunAtLoad -bool true /Library/LaunchDaemons/com.foursquare.octory_start.plist</string>
									</dict>
									<dict>
										<key>Type</key>
										<string>ExecuteCommand</string>
										<key>Command</key>
										<string>touch /var/tmp/com.depnotify.registration.done</string>
									</dict>
								</array>
							</dict>
							<key>Trigger</key>
							<string>jumpAgain</string>
						</dict>
						<dict>
							<key>Type</key>
							<string>Spacer</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>Window</key>
	<dict>
		<key>OnScreen</key>
		<string>BlurredBackground</string>
		<key>MaximumSize</key>
		<dict>
			<key>Height</key>
			<integer>600</integer>
			<key>Width</key>
			<integer>800</integer>
		</dict>
		<key>Title</key>
		<string>Welcome to Foursquare!</string>
		<key>IsClosable</key>
		<false/>
		<key>IsMovable</key>
		<false/>
		<key>IsResizeable</key>
		<false/>
	</dict>
	<key>Navigation</key>
	<dict>
		<key>IsHidden</key>
		<true/>
	</dict>
	<key>Monitoring</key>
	<dict>
		<key>Monitors</key>
		<array>
			<dict>
				<key>Type</key>
				<string>Application</string>
				<key>Name</key>
				<string>JCInstall</string>
				<key>DisplayName</key>
				<string>JumpCloud Agent</string>
				<key>Installer</key>
				<string>Managed</string>
				<key>IconURL</key>
				<string>${AppIcons}/jumpcloud.icns</string>
				<key>Detail</key>
				<string>Installing the JumpCloud system agent for macOS</string>
				<key>Condition</key>
				<string>CURRENT_SLIDE_INDEX == 0</string>
			</dict>
			<dict>
				<key>Type</key>
				<string>Application</string>
				<key>Name</key>
				<string>Connect</string>
				<key>DisplayName</key>
				<string>Connect to JumpCloud</string>
				<key>Installer</key>
				<string>Managed</string>
				<key>IconURL</key>
				<string>${AppIcons}/network.icns</string>
				<key>Detail</key>
				<string>Establishing connection to JumpCloud</string>
				<key>Condition</key>
				<string>CURRENT_SLIDE_INDEX == 0</string>
			</dict>
			<dict>
				<key>Type</key>
				<string>Application</string>
				<key>Name</key>
				<string>Config</string>
				<key>DisplayName</key>
				<string>Configuration</string>
				<key>Installer</key>
				<string>Managed</string>
				<key>IconURL</key>
				<string>${AppIcons}/system.icns</string>
				<key>Detail</key>
				<string>Pulling security configurations from JumpCloud</string>
				<key>Condition</key>
				<string>CURRENT_SLIDE_INDEX == 0</string>
			</dict>
			<dict>
				<key>Type</key>
				<string>Application</string>
				<key>Name</key>
				<string>Activate</string>
				<key>DisplayName</key>
				<string>macOS Account Activation</string>
				<key>Installer</key>
				<string>Managed</string>
				<key>IconURL</key>
				<string>${AppIcons}/accounts.icns</string>
				<key>Detail</key>
				<string>JumpCloud is activating your macOS user account</string>
				<key>Condition</key>
				<string>CURRENT_SLIDE_INDEX == 2</string>
			</dict>
			<dict>
				<key>Type</key>
				<string>Application</string>
				<key>Name</key>
				<string>Create</string>
				<key>DisplayName</key>
				<string>macOS Account Creation</string>
				<key>Installer</key>
				<string>Managed</string>
				<key>IconURL</key>
				<string>${AppIcons}/config.icns</string>
				<key>Detail</key>
				<string>JumpCloud is creating your macOS user account</string>
				<key>Condition</key>
				<string>CURRENT_SLIDE_INDEX == 2</string>
			</dict>
			<dict>
				<key>Type</key>
				<string>Application</string>
				<key>Name</key>
				<string>Finish</string>
				<key>DisplayName</key>
				<string>Apply Finishing Touches</string>
				<key>Installer</key>
				<string>Managed</string>
				<key>IconURL</key>
				<string>${AppIcons}/preferences.icns</string>
				<key>Detail</key>
				<string>Applying a bit of polish</string>
				<key>Condition</key>
				<string>CURRENT_SLIDE_INDEX == 2</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
