<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.foursquare.octory_start</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/Library/Application Support/Octory/Resources/Scripts/fsq_octo_start.sh</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StartInterval</key>
	<integer>10</integer>
	<key>StandardErrorPath</key>
	<string>/var/tmp/com.foursquare.octory.err</string>
	<key>StandardOutPath</key>
	<string>/var/tmp/com.foursquare.octory.out</string>
</dict>
</plist>
